* {
    margin: 0; 
    padding: 0;
}

button {
    padding: 20px;
    background: #d946ef;
    width: 10rem;

    border-radius: 10%;

    font-size: 2rem;
}


h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 10px;
    position: relative;
    top: 214px;
    right: -85px;

    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    color: rgb(112, 26, 117, .9);
}

.mainContainer {
    height: 52vh;
}

.logoHeader {
    position: relative;
    margin-top: 32px;
    margin-bottom: 32px;
}

.logo {
    height: 20rem;
    position: absolute;
    top: 30px;
    right: 94px;
    
}

    

.header {
    display: flex;
    gap: 20%;
    width: 80%;
    margin-top: 32px;
}