* {
    margin: 0; 
    padding: 0;
}

button {
    padding: 20px;
    background: #d946ef;
    width: 10rem;

    border-radius: 10%;

    font-size: 2rem;
}

.switchContainer {
    margin-top: 32px;
    height: -webkit-fill-available;
}

/* home page */
.title {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 10px;
    position: relative;
    top: 214px;
    right: -85px;

    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    color: rgb(112, 26, 117, .9);
}

.mainContainer {
    height: 52vh;
}

.logoHeader {
    position: relative;
    margin-top: 32px;
    margin-bottom: 32px;
}

.logo {
    height: 20rem;
    position: absolute;
    top: 30px;
    right: 94px;
    
}

    

.header {
    display: flex;
    gap: 20%;
    width: 80%;
    margin-top: 32px;
}

/* contactPage */

.babyCard {
    background: #FFF;
    width: 400px;
    height: 200px;
    padding: 20px;
    margin-top: 20%;

    display: flex;

    border: solid #d946ef;
}

.babyCard > img {
    height: 80%;
    align-self: center;
    
}

.babyCardText {
    display: flex;
    flex-direction: column;

    max-width: 70%;

    white-space: pre-line;
}

.babyName {
    font-weight: 700;
    font-size: 2rem;
}

.babyDetails {
    align-self: center;

    font-weight: 700;

    
}

.babyDetails > * {
    margin: 30px;

    
}